/* Styling for form container */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 30px 10px;
}

#paymentForm {
    width: 400px;
    border: 1px solid #eee;
    border-radius: .8rem;
    /* margin: 0 auto; */
    padding: 2.8rem;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
  
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
  width : auto;
}