/* ===========================================
    MEDIA QUERIES FOR DASHBOARD
   =========================================== */
/* 1135px === 113.5rem === 70.94em */
@media screen and (max-width: 70.94em) {
    /* VENDOR */
    .close .top__details {
        gap: 10rem;
    }
    .top__details {
        gap: 6.4rem;
        transition: all .35s;
    }
    .close .top__insights {
        gap: 2rem;
    }
    .top__insights {
        gap: 1.6rem;
    }
    .close .top__card {
        width: 18rem;
        height: 14rem;
    }
    .top__card {
        width: 16rem;
        height: auto;
        transition: all .35s;
    }
    .close .bottom__products {
        column-gap: 4rem;
    }
    .bottom__products {
        column-gap: 3rem;
        transition: all .35s;
    }
    .close .bottom__card {
        width: 24rem;
        overflow: hidden;
    }
    .bottom__card {
        width: 22rem;
        overflow: hidden;
        transition: all .35s;
    }

    /* marketplace */
    .close .products__container {
        grid-template-columns: 1fr 19rem;
    }

    /* popup modal */
    .product__modal {
        width: 65rem;
        height: 40rem;
    }
    .product__form {
        height: 28rem;
    }
}


/* 1100px === 110rem === 68.75em */
@media screen and (max-width: 68.75em) {
    .main__dashboard {
        padding: 2.4rem;
    }
    /* AFFILIATE */
    .dashboard__insights {
        gap: 1.8rem;
        transition: all .35s;
    }
    .insight {
        padding: 2rem;
        transition: all .35s;
    }
    .insight__icon {
        font-size: 3rem;
    }
    .insignt__text {
        font-size: 2rem;
    }
    .form__data, .delete-data {
        max-width: 55rem;
        padding: 2.4rem;
    }
}

/* 1030px === 103rem === 64.19em */
@media screen and (max-width: 64.19em) {
    .nav__input {
        width: 25rem;
        transition: all .35s;
    }
    .nav__input:focus {
        width: 35rem
    }
    .close .bottom__products {
        gap: 4rem;
    }
    .bottom__products {
        column-gap: 2.4rem;
    }
    /* *** */
    .close .top__details { margin-top: 0; }
    .top__details { margin-top: 2.8rem; }
    .close .top__img-box { margin-top: 0; }
    .top__img-box { margin-top: -4rem; }
    .top__cred {gap: 2.4rem;}
    .close .top__insights { margin-top: 0; margin-left: 0;}
    .top__insights { margin-top: 2.6rem; margin-left: -18rem; }
    /* *** */
    
}

/* 950px === 95rem === 59.68em */
@media screen and (max-width: 59.68em) {
    .top__details { margin-top: 0; }
    .top__img-box { margin-top: 0; }
    .top__insights { margin-top: 0; margin-left: 0;}
    .nav__input { width: 20rem;  }
    .nav__input:focus {
        width: 28rem
    }

    /* something magical will happen... */
    /* and this is global */

    .section__bottom {
        grid-template-columns: 7rem 1fr;
        transition: 0ms;
    }
    .menu__link:link, .menu__link:visited {
        gap: 2.8rem;
        transition: none 0ms;
    }
    .menu__button:link, .menu__button:visited {
        display: none;
        opacity: 0;
    }
    .open .menubar, .open .main__dashboard {
        position: absolute;
        top: 7rem;
    }
    .open .menubar {
        left: 0;
        width: 26rem;
        height: 88vh;
        z-index: 100;
        backface-visibility: hidden;
    }
    .open .main__dashboard {
        right: 0;
    }

    /* temp */
    .open .main__dashboard::after {
        content: "";
        display: inline-block;
        /* width: 80%;
        height: 100%; */
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.15);
        z-index: 20;

        position: absolute;
        top: 0;
        right: 0;
    }
    /* *** */
    /* marketplace */
    .product__filtering { opacity: 1; }
    .product__filtering {
        position: absolute;
        top: -12rem;
        right: 4rem;
        /* =========== */
        /* we need to continue our work here by 11am tomorrow...
        find those bugs and fix them and finish up the interfaces */
        /* =========== */
    }
    .products__container {
        grid-template-columns: 1fr 0rem;
    } 
    .product__category { 
        display: none;
        opacity: 0;
    }
    .product__category-fil {
        display: inline-block;
        opacity: 1;
    }

    /* popup modal */
    .delete__modal { 
        width: 40rem;
    }
    .product__modal {
        width: 55rem;
        height: 38rem;
    }
    .product__form {
        height: 25rem;
    }
    /* *** */
    .hoplink__modal {
        width: 60rem;
        padding: 2.4rem;
        height: auto;
    }
}


/* 820px === 82rem === 51.56em */
@media screen and (max-width: 51.56em) {
    /* vendor */
    .top__card {
        width: 13rem;
    }
    .dashboard__button {
        padding: 1rem 1.8rem;
        box-shadow: inset 0 0 0 .16rem #444;
        border-radius: .6rem;
    }
    .dashboard__button:hover { border-radius: inherit; }

    .open .bottom__products, .bottom__products {
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
    }
    .bottom__card {
        width: 25rem;
    }
    .card__image {
        width: 100%;
    }
}


/* 775px === 77.5rem === 48.44em */
@media screen and (max-width: 48.44em) {
    html { font-size: 56.25%; }
    .nav__input {
        width: 18rem;
        transition: all .35s;
    }
    .nav__input:focus {
        width: 25rem
    }
    .nav__icons {
        gap: 1.4rem;
        margin-right: 3.6rem;
    }

    /* affiliate  */
    .dashboard__insights  {
        grid-template-columns: 1fr 1fr;
        row-gap: 2.8rem;
    }
    .dashboard__cards {
        grid-template-columns: 1fr 1fr;
    }
    /* **** */
    /* vendor */
    .open .top__card, .top__card { width: 15rem; }
    .open .top__niche, .top__niche {margin-bottom: 0; }
    .open .top__details, .top__details { margin-top: 3rem; }
    .open .top__img-box, .top__img-box { margin-top: -3.6rem; }
    .open .top__cred, .top__cred {
        flex-direction: column;
        gap: 1.4rem;
        margin-bottom: 3.6rem;
    }
    .open .top__insights, .top__insights { margin-left: -16rem; }
}


/* 600px === 60rem === 37.5em */
@media screen and (max-width: 37.5em) {
    .section__top {
        display: grid;
        grid-template-columns: 10rem 1fr;
        gap: 6rem;
        align-items: center;
    }
    .nav__input {
        width: 15rem
    }
    .nav__input:focus {
        width: 22rem
    }
    .search__button {
        display: none;
    }
    .logo {
        display: none;
        opacity: 0;
    }
    .nav__logo {
        gap: 1.6rem;
        margin-left: 2.8rem;
        padding: 0;
    }
    .logo-small {
        display: block;
        opacity: 1;
        height: 4rem;
    }

    /* popup modal */

    .generic__modal {
        width: 90%;
    }
    .product__modal {
        padding: 1.4rem 0 1.4rem 1.4rem;
        height: 80vh;
    }
    .product__form {
        padding-right: 1.4rem;
        height: 60vh;
    }
    .form__grid-generic, .form__grid3-generic {
        display: flex;
        flex-direction: column;
    }
    /* *** */
    .hoplink__modal {
        width: 90%;
        padding: 2.4rem;
        height: auto;
    }
}