footer.footer__auth

    .auth__container 
        ul.auth__lists
            li.auth__item 
                p.cp &copy; Clubmerce 2023 
            li.auth__item |
            li.auth__item 
                a.auth__link(href="#") Terms of Use
            li.auth__item |
            li.auth__item 
                a.auth__link(href="#") Our Policy

            
        p.auth__text 
            | Clubmerce is not a chartered bank or trust company, or depository institution. Clubmerce is not authorized to accept deposits or trust accounts and is not licensed or regulated by any state or federal banking authority.