
footer.footer
    .footer__grid
        .footer__company
            span.footer__logo Logo
            p.footer__description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis asperiores doloremque porro odio ipsam eligendi sequi distinctio fugiat repellat molestiae nihil hic nesciunt cum nisi quaerat, ex labore explicabo nostrum!
            .footer__download
                a(href="#" download)
                    img.footer__download--image(src="asset/img/android.png" alt="android download")
                a(href="#" download)
                    img.footer__download--image(src="asset/img/iphone.png" alt="iphone download")

        .footer__contact--info
            span
                p.footer__heading Contact Info
                ul.footer__list
                    li.footer__item
                        a.footer__link(href="#") 
                            i.fa-solid.fa-phone.footer__icon.icon
                            | +234 12345678
                    
                    li.footer__item
                        a.footer__link(href="#") 
                            i.fa-solid.fa-envelope.footer__icon.icon
                            | support@lorem.istus
                    
                    li.footer__item
                        a.footer__link(href="#") 
                            i.fa-brands.fa-facebook-f.footer__icon.icon.
                            | Lorem ipsum dolor sit
                    
                    li.footer__item
                        a.footer__link(href="#") 
                            i.fa-brands.fa-twitter.footer__icon.icon.
                            | Lorem ipsum dolor sit
                    
                    li.footer__item
                        a.footer__link(href="#") 
                            i.fa-brands.fa-instagram.footer__icon.icon.
                            | Lorem ipsum dolor sit
                    
                    li.footer__item
                        a.footer__link(href="#") 
                            i.fa-brands.fa-youtube.footer__icon.icon.
                            | Lorem ipsum dolor sit

            span 
                .footer__links--list
                    p.footer__heading Links
                    ul.footer__list
                        li.footer__item
                            a.footer__link(href="#") Get started
                        li.footer__item
                            a.footer__link(href="#") Vendors
                        li.footer__item
                            a.footer__link(href="#") Affiliates
                        li.footer__item
                            a.footer__link(href="#") terms of use
                        li.footer__item
                            a.footer__link(href="#") policy

        .footer__links--list
            p.footer__heading Links
            ul.footer__list
                li.footer__item
                    a.footer__link(href="#") Get started
                li.footer__item
                    a.footer__link(href="#") Vendors
                li.footer__item
                    a.footer__link(href="#") Affiliates
                li.footer__item
                    a.footer__link(href="#") terms of use
                li.footer__item
                    a.footer__link(href="#") policy

        .footer__subscribe
            .footer__form--text Subscribe to our newsletter
            form#footer__form.footer__form(action="/" method="post")
                .footer__form--item
                    label.footer__form--label(for="subscribe") Email
                    input.footer__form--input(name="subscribe" required)
                    button.footer__form--button.footer__button(type="submit") Submit
//-  copyright 
.copyright
    p.copyright__text copyright &copy; 2023. All rights reserved.