
footer.footer
    .footer__grid
        .footer__company
            .logo--box
                img.footer__logo(src="asset/img/logo-white.png")
            p.footer__description We provide tools a platform for vendors to create marketable products and for affiliates to join those programs, generate unique tracking links, and track their performance and earnings
            .footer__download
                a(href="#" download)
                    img.footer__download--image(src="asset/img/android.png" alt="android download")
                a(href="#" download)
                    img.footer__download--image(src="asset/img/iphone.png" alt="iphone download")

        .footer__contact--info
            span
                p.footer__heading Contact Info
                ul.footer__list
                    li.footer__item
                        a.footer__link(href="tel:234912345678") 
                            i.fa-solid.fa-phone.footer__icon.icon
                            | 0023338888
                    
                    li.footer__item
                        a.footer__link(href="mailto:info@clubmerce.com") 
                            i.fa-solid.fa-envelope.footer__icon.icon
                            | info@clubmerce.com
                    
                    li.footer__item.footer__icon--grid
                        a.footer__link(href="#") 
                            i.fa-brands.fa-facebook-f.footer__icon.icon
                    
                        a.footer__link(href="#") 
                            i.fa-brands.fa-twitter.footer__icon.icon
                    
                        a.footer__link(href="#") 
                            i.fa-brands.fa-instagram.footer__icon.icon
                    
                        a.footer__link(href="#") 
                            i.fa-brands.fa-youtube.footer__icon.icon

            span 
                .footer__links--list
                    p.footer__heading Links
                    ul.footer__list
                        li.footer__item
                            a.footer__link(href="/get-started") Get started
                        li.footer__item
                            a.footer__link(href="/vendor") Vendors
                        li.footer__item
                            a.footer__link(href="/affiliate") Affiliates
                        li.footer__item
                            a.footer__link(href="#") Terms of use
                        

        .footer__links--list
            p.footer__heading Links
            ul.footer__list
                li.footer__item
                    a.footer__link(href="/get-started") Get started
                li.footer__item
                    a.footer__link(href="/vendor") Vendors
                li.footer__item
                    a.footer__link(href="/affiliate") Affiliates
                li.footer__item
                    a.footer__link(href="#") Terms of use

        .footer__subscribe
            .footer__form--text Subscribe to our newsletter
            form#footer__form.footer__form
                .footer__form--item
                    label.footer__form--label(for="subscribe") Email
                    input.footer__form--input(name="subscribe" required)
                    button.footer__form--button.footer__button(type="submit") Submit
//-  copyright 
.copyright
    p.copyright__text copyright &copy; 2023. All rights reserved.