header.header

    .logo--box
        img.logo(src="asset/img/logo-removebg.png")
    nav.navar
        button.navigation-controls
            i.fa-solid.fa-bars.navigation-icon
        ul.nav__list
            li.nav__item
                a.nav__link(href="/") Home
            li.nav__item
                a.nav__link(href="/get-started") Get started
                    //- i.fa-solid.fa-angle-down
            li.nav__item
                a.nav__link(href="/affiliate") Affiliate
                    //- i.fa-solid.fa-angle-down
            li.nav__item
                a.nav__link(href="/vendor") Vendor
                    //- i.fa-solid.fa-angle-down
            li.nav__item
                a.nav__link.nav-login(href="/login") Login
            li.nav__item
                a.nav__link.nav__button.nav-sign(href="/signup") signup


        ul.nav__list-m
            li.nav__item
                a.nav__link(href="/") Home
            li.nav__item
                a.nav__link(href="/get-started") Get started
                    //- i.fa-solid.fa-angle-down
            li.nav__item
                a.nav__link(href="/affiliate") Affiliate
                    //- i.fa-solid.fa-angle-down
            li.nav__item
                a.nav__link(href="/vendor") Vendor
                    //- i.fa-solid.fa-angle-down
            span.flexible
                li.nav__item
                    a.nav__link.nav__button.nav-sign(href="/signup") Signup
                li.nav__item
                    a.nav__link.nav-login(href="/login") Login

                
            li.footer__item.footer__icon--grid
                a.footer__link(href="#") 
                    i.fa-brands.fa-facebook-f.nav__icon.icon
            
                a.footer__link(href="#") 
                    i.fa-brands.fa-twitter.nav__icon.icon
            
                a.footer__link(href="#") 
                    i.fa-brands.fa-instagram.nav__icon.icon
            
                a.footer__link(href="#") 
                    i.fa-brands.fa-youtube.nav__icon.icon


                