header.header
    //- if (active === true) 

    .logo--box
        img.logo(src="asset/img/logo-removebg.png")
    nav.navar
        ul.nav__list
            li.nav__item
                a.nav__link(href="/") Home
            li.nav__item
                a.nav__link(href="/get-started") Get started&nbsp;
                    //- i.fa-solid.fa-angle-down
            li.nav__item
                a.nav__link(href="/affiliate") Affiliate&nbsp;
                    //- i.fa-solid.fa-angle-down
            li.nav__item
                a.nav__link(href="/vendor") Vendor&nbsp;
                    //- i.fa-solid.fa-angle-down
            li.nav__item
                a.nav__link(href="/login") Login
            li.nav__item
                a.nav__link.nav__button(href="/signup") signup