extends base_account 

block content 
    h3.dashboard__heading My Performance

    section.vendor__dashboard
        .dashboard__table
            <div class="table table-app">
                <div class="table-title">
                    <h4 class="table-heading">Affiliate Performance</h4>
                </div>
                <div class="table-head-app">
                    <span class="table-head-content">Product</span>
                    <span class="table-head-content">commission</span>
                    <span class="table-head-content">Link purchase</span>
                    <span class="table-head-content">link clicks</span>
                    <span class="table-head-content">promotion link</span>
                </div>

                <div class="table-row-app">
                    <span class="table-row-content table-row-product">
                        <img class="table-product__image" src="../product.jpg" alt="" />
                        <span>
                            <p class="table-product__name">Test product 1</p>
                            <p class="table-product__category">health & fitness</p>
                        </span>
                    </span>
                    <span class="table-row-content"><p class="commission">$&nbsp;230</p></span>
                    <span class="table-row-content"><p class="purchase">4</p></span>
                    <span class="table-row-content"><p class="click">20</p></span>
                    <span class="table-row-content"><p class="promotion">1</p></span>
                    
                </div>
            </div>