extends base_account 

block content 
    .main__dashboard--container
        h3.dashboard__heading=`Welcome back, ${user.fullname}`
        .dashboard__insights 
            .insight.insight__one
                span 
                    p.insignt__text $25K
                    i.fa-solid.fa-coins.insight__icon
                p.insignt__title Total enarned

            .insight.insight__two
                span 
                    p.insignt__text 15
                    i.fa-solid.fa-comments-dollar.insight__icon
                p.insignt__title Product Sold

            .insight.insight__three
                span
                    p.insignt__text 100
                    i.fa-solid.fa-up-right-from-square.insight__icon
                p.insignt__title Links clicks

            .insight.insight__four
                span
                    p.insignt__text 20
                    i.fa-solid.fa-bullhorn.insight__icon
                p.insignt__title Promotions


        .dashboard__table
            <div class="table">
                <div class="table-title">
                    <h4 class="table-heading">Recent commission</h4>
                    <i class="fa-silid fa-vertical-dots table__icon"></i>
                </div>
                <div class="table-head">
                    <span class="table-head-content">Product</span>
                    <span class="table-head-content">Commission amount</span>
                    <span class="table-head-content">Status</span>
                    <span class="table-head-content">date</span>
                </div>


                //- <div class="table-row">
                    <span class="table-row-content table-row-product">
                        <img class="table-product__image" src="../product.jpg" alt="" />
                        <span>
                            <p class="table-product__name">Test product 2</p>
                            <p class="table-product__niche">E-books</p>
                        </span>
                    </span>
                    <span class="table-row-content"><p class="price">$&nbsp;90</p></span>
                    <span class="table-row-content"><p class="status status--pending">pending</p></span>
                    <span class="table-row-content"><p class="date">12/02/23</p></span>
                //- </div>
                <div class="table-row-message">
                    p.note-no You've have not made any sale commission...
                </div>
            </div>

    





    
    //- <div class="generic__overlay">
    //-     <div class="generic__modal product__modal">
    //-         <i class="fa-solid fa-close icon form__close-icon"></i>
    //-         <h3 class="dashboard__heading">Update product</h3>
    //-         <form action="" class="product__form">
    //-             <div class="form__body-generic">
    //-                 <label for="product__name" class="form__label">Product Name</label> 
    //-                 <input type='text' name="product__name" id="product__name" required value='Product name' class="form__input">
    //-             </div>
    //-             <!-- product image here -->
    //-             <div class="form__body-generic">
    //-                 <label for="product__summary" class="form__label">Product Summary</label> 
    //-                 <textarea style="height: 6rem;" type='text' name="product__summary" id="product__summary" required value='Product Summary (not more than 120 characters)' class="form__input"></textarea>
    //-             </div>
    //-             <div class="form__body-generic">
    //-                 <label for="product__description" class="form__label">Product Description</label> 
    //-                 <textarea style="height: 15rem;" type='text' name="product__description" id="product__description" required value='Product Description'  class="form__input"></textarea>
    //-             </div>
    //-             <div class="form__grid-generic">
    //-                 <div class="form__body-generic">
    //-                     <label for="product__price" class="form__label">Product Price</label> 
    //-                     <input type='text' name="product__price" id="product__price" required value='Product price (NGN)' class="form__input">
    //-                 </div>
    //-                 <div class="form__body-generic">
    //-                     <label for="product__commission" class="form__label">Product Commission</label> 
    //-                     <input type='text' name="product__commission" id="product__commission" required value='Product Commission in (%)' class="form__input">
    //-                 </div>
    //-             </div>
    //-             <div class="form__grid-generic">
    //-                 <div class="form__body-generic">
    //-                     <label for="product__type" class="form__label">Product Type</label>
    //-                     <select class="form__select" name="product__type" id="product__type">
    //-                         <option value="physical">Physical Product</option>
    //-                         <option value="digital">Digital Product</option>
    //-                     </select>
    //-                 </div>
    //-                 <div class="form__body-generic">
    //-                     <label for="product__niche" class="form__label">Product Niche</label>
    //-                     <select class="form__select" name="product__niche" id="product__niche">
    //-                         <option value="physical">All categories</option>
    //-                     </select>
    //-                 </div>
    //-             </div>

    //-             <div class="form__grid3-generic">
    //-                 <div class="form__body-generic">
    //-                     <label for="product__tools" class="form__label">Affiliate Tools</label>
    //-                     <input type="checkbox" class="form__input" name="product__tools" id="product__tools" />
    //-                 </div>
    //-                 <div class="form__body-generic">
    //-                     <label for="product__link" class="form__label">Product Unique Url</label>
    //-                     <input type="checkbox" class="form__input" name="product__link" id="product__link" />
    //-                 </div>
    //-                 <div class="form__body-generic">
    //-                     <label for="product__recurring" class="form__label">Recurring Commissions</label>
    //-                     <input type="checkbox" class="form__input" name="product__recurring" id="product__recurring" />
    //-                 </div>
    //-             </div>
                
    //-             <!-- three min and six max images -->
    //-             <!-- four max banners -->
    //-             <button type="submit" class="btn form__submit form__submit-generic">Add product</button>
    //-         </form>
    //-     </div>
    //- </div>




    //- <div class="generic__overlay">
    //-     <div class="generic__modal delete__modal">
    //-         <i class="fa-solid fa-close icon form__close-icon"></i>
    //-         <h3 class="dashboard__heading">Delete your account</h3>
    //-         <form action="" class="delete__form">
    //-             <div class="form__body-generic">
    //-                 <label for="email" class="form__label">Email address</label> 
    //-                 <input type='email' name="email" id="delete__email" required placeholder='Product name' class="form__input">
    //-             </div>
    //-             <div class="form__body-generic">
    //-                 <label for="password" class="form__label">password</label> 
    //-                 <input type='text' name="password" id="delete__password" placeholder='••••••••••••' required minlength='8' class="form__input" />
    //-             </div>
                
    //-             <button type="submit" class="btn form__submit form__submit-generic">Delete account</button>
    //-         </form>
    //-     </div>
    //- </div>


    //- <div class="generic__overlay">
    //-     <div class="generic__modal delete__button-modal">
    //-         <i class="fa-solid fa-close icon form__close-icon"></i>
    //-         <h3 class="dashboard__heading">Delete this product</h3>
    //-         <div class="delete__button--box">
    //-             <button type="button" class="btn btn--no delete__btn form__submit">No</button>
    //-             <button type="submit" class="btn btn--yes delete__btn form__submit">Yes</button>
    //-         </div>
    //-     </div>
    //- </div>