DOCTYPE
html(lang="en")

head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer")

    //- STYLES 
    link(rel="stylesheet" href="src/css/general.css")
    link(rel="stylesheet" href="src/css/main.css")
    link(rel="stylesheet" href="src/css/query.css")
    link(rel="stylesheet" href="src/css/dashboard.css")


    title=title
body

    section.section__dashboard
        .section__top
            .nav__logo
                i.fa-solid.fa-bars.icon.nav__icon.menu__open
                img.logo(src='../../asset/img/logo-removebg.png' alt='clubmerce logo')
            nav.navbar
                if section === 'marketplace'
                    form.nav__search
                        input.nav__input(type='search' placeholder='search...')
                        button.search__button(type='submit')
                            i.fa-solid.fa-magnifying-glass.icon.nav__icon

                span.nav__icons
                    span.notification__icon
                        i.fa-regular.fa-bell.icon.nav__icon
                        div.notification__hovered.hidden 
                            h3.dashboard__heading Notification
                            p.notification__amount New (0)
                                div.notification__content 
                                    span.notice 
                                | you have no notification

                    span
                        img.nav__image(src='../../asset/img/face.png' alt="customer's dashboard photo")
                        div.Profile__hovered.hidden
                            div.profile__content
                                a.profile__link.nav__link(href="/profile") Go to profile

                                a.profile__button(href="") signout 
                                    i.fa-solid.fa-arrow-right-to-bracket.profile__icon
                        


        .section__bottom
            menu.menubar
                .menu__body
                    ul.menu__list
                        li.menu__item
                            a.menu__link(href="/dashboard")
                                i.fa-solid.fa-gauge.icon.menu__icon
                                | Dashboard
                        li.menu__item
                            a.menu__link(href="/marketplace")
                                i.fa-solid.fa-shop.icon.menu__icon
                                | Affiliate marketplace
                        li.menu__item
                            a.menu__link(href="/performance")
                                i.fa-solid.fa-chart-simple.icon.menu__icon
                                | Report and Performance
                        li.menu__item
                            a.menu__link(href="/transaction")
                                i.fa-solid.fa-chart-line.icon.menu__icon
                                | Transactions
                        li.menu__item
                            a.menu__link(href="/settings")
                                i.fa-solid.fa-gear.icon.menu__icon
                                | settings
                .menu__bottom
                    ul.menu__list
                        li.menu__item
                            a.menu__link(href="/profile")
                                img.menu__profile-image(src='../../asset/img/face.png')
                                | profile
                        li.menu__item
                            a.menu__button(href='/login')
                                | signout&nbsp;
                                i.fa-solid.fa-arrow-right-to-bracket
            main.main__dashboard
                .dashboard__content
                    block content


            




    //- SCRIPTS
    script( src="src/js/index.js")