doctype html
html(lang="en")

head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")


    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer")
    link(rel="icon" href="../asset/img/favicon.png" type="image/png")

    <!-- Link Swiper's CSS -->

    //- STYLES 
    link(rel="stylesheet" href="src/css/animation.css")
    link(rel="stylesheet" href="src/css/general.css")
    link(rel="stylesheet" href="src/css/otherPages.css")
    link(rel="stylesheet" href="src/css/form.css")
    link(rel="stylesheet" href="src/css/main.css")
    link(rel="stylesheet" href="src/css/query.css")

    script(defer src="src/js/index.js")
    script(type='text/javascript').
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/64e23766cc26a871b03054a8/1h89qgrqn';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();



    title Clubmerce | #{title}
body

    include _header

    #spinOverlay
        .spin
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div

    block content
        h1 content



    
    include _footer