extends base_account 

block content 
    .main__dashboard--container
        .dashboard__heading
            h3.heading__title=`Welcome back, ${user.fullname}`
        .dashboard__cards
            .box1.box
            .box2.box
            .box3.box
            .box4.box