extends base

block content 
    main
        <div id="spinOverlay">
            <div class="spin">
                <div></div>   
                <div></div>    
                <div></div>    
                <div></div>    
                <div></div>    
                <div></div>    
                <div></div>    
                <div></div>    
                <div></div>    
                <div></div>    
            </div>
        </div>
        section.section.hero__section
            img.hero__svg.svg1(src='asset/svg/svg1.svg')
            img.hero__svg.svg2(src='asset/svg/svg2.svg')
            .section__container.hero
                .section__heading.hero__heading
                    h1.section__heading--primary
                        | Unleash Your Earning Potentials.
                    h3.section__heading--tetrary.lsp
                        | With our innovative platform, you can supercharge your sales strategy and watch your revenue soar!
                    .hero__button--container
                        a.section__button.btn.hero__button.main__button(href='/get-started') Get started
                        a.section__button.hero__button.outline__button(href='#how') Learn more
                        //- a.section__button.hero__button.outline__button(href='#learn') Learn more
                .hero__image--box
                        img.hero__image(src="asset/img/hero_reduced.jpg" alt="")

        section.section.section__features 
            .section__container.features 
                .features__card
                    i.fa-solid.fa-magnifying-glass-chart.features__icon 
                    p.features__text Transparent Product Marketplace
                .features__card
                    i.fa-solid.fa-credit-card.features__icon
                    p.features__text Reliable and Integrated Payments
                .features__card
                    i.fa-solid.fa-pie-chart.features__icon
                    p.features__text Top Performing Offers
                .features__card
                    i.fa-solid.fa-list-check.features__icon
                    p.features__text Personalized Account Management

        section.section.how__section#how
            .section__container.relative
                .section__how--flex
                    img.how__steps--line(src='asset/svg/line.svg' alt='')
                    .grid.how.grid__two.grid__align--center
                        .section__image.how__section--image.how__one
                            img.how__image(src='asset/svg/Work in progress-cuate.svg' alt='')
                        .section__content
                            h2.section__heading--secondary.how__heading.margin__bottom--md
                                | how it works
                            // <h3 class="section__content--title"><span class="number">01</span>Signup As An Affiliate</h3>
                            h3.section__content--title Signup As An Affiliate
                            p.section__content--text
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                | Inventore iste ipsam quos id, excepturi laborum libero
                                | praesentium dolorenesciunt.
                    .grid.how.grid__two.grid__align--center
                        .section__content
                            h3.section__content--title
                                // <span class="number">02</span>Visit The Affiliate MarketPlace
                                | Visit The Affiliate MarketPlace
                            p.section__content--text
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                | Inventore iste ipsam quos id, excepturi laborum libero
                                | praesentium dolorenesciunt.
                        .section__image.how__section--image.how__two
                            img.how__image(src='asset/svg/People sightseeing outdoors-cuate.svg' alt='')
                    .grid.how.grid__two.grid__align--center
                        .section__image.how__section--image.how__three
                            img.how__image(src='asset/svg/Marketing-cuate.svg' alt='')
                        .section__content
                            // <h3 class="section__content--title"><span class="number">03</span>Promote and earn</h3>
                            h3.section__content--title Promote and earn
                            p.section__content--text
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                | Inventore iste ipsam quos id, excepturi laborum libero
                                | praesentium dolorenesciunt.
        section.section.get-started__section#learn
            .section__container
                .section__heading
                    h2.section__heading--secondary.center get started
                    p.get-started__heading--text
                        | Whether you're looking to start, scale, or expand your business reach, Clubmerce can help. Join thousands of sellers and more than 1,000 affiliates who are finding success on the Clubmerce platform.
                .cards
                    .get-started__card.get-started__affiliate
                        img.get-started__image(src='asset/img/affiliate2_reduced.jpg' alt='')
                        .get-started__content
                            p.get-started__content--title Become an affiliate
                            p.get-started__content--text
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                | Architecto dicta quasi id repudiandae vel provident eum voluptas
                                | iusto harum molestias.
                            a.get-started__button.btn(href='/affiliate') Get Started
                    .get-started__card.get-started__vendor
                        img.get-started__image(src='asset/img/vendor2_reduced.jpg' alt='')
                        .get-started__content
                            p.get-started__content--title Become an vendor
                            p.get-started__content--text
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                | Architecto dicta quasi id repudiandae vel provident eum voluptas
                                | iusto harum molestias.
                            a.get-started__button.btn(href='/vendor') Get Started

        section.section.stats__section
            .section__container.stats.grid.grid__three
                .stats__data--one.stats__data
                    span 90K
                    p.stats__data--text Lorem ipsum dolor sit.
                .stats__data--two.stats__data
                    span 80%
                    p.stats__data--text Lorem ipsum dolor sit.
                .stats__data--three.stats__data
                    span N1M
                    p.stats__data--text Lorem ipsum dolor sit.

        section.section.faq__section
            .section__container
                h3.section__heading--secondary.center.capitalize frequenty asked questions
                .faq__accordion
                    .faq__accordion--item
                        .accordion__content--title
                            h3.accordion__heading
                                | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            span &minus;
                        .faq__accordion--content.faq__open
                            p.accordion__content--text
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure velit magni libero, aut
                                | esse commodi voluptatibus. Nobis qui nulla hic velit. Impedit laboriosam natus ipsa ad
                                | voluptas rerum corporis cumque at minima a architecto, nulla excepturi consequatur unde
                                | ipsam laudantium rem quo obcaecati ex possimus in est! Harum, odio quis?
                    .faq__accordion--item
                        .accordion__content--title
                            h3.accordion__heading
                                | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            span &minus;
                        .faq__accordion--content.faq__close
                            p.accordion__content--text
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure velit magni libero, aut
                                | esse commodi voluptatibus. Nobis qui nulla hic velit. Impedit laboriosam natus ipsa ad
                                | voluptas rerum corporis cumque at minima a architecto, nulla excepturi consequatur unde
                                | ipsam laudantium rem quo obcaecati ex possimus in est! Harum, odio quis?
                    .faq__accordion--item
                        .accordion__content--title
                            h3.accordion__heading
                                | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            span &minus;
                        .faq__accordion--content.faq__close
                            p.accordion__content--text
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure velit magni libero, aut
                                | esse commodi voluptatibus. Nobis qui nulla hic velit. Impedit laboriosam natus ipsa ad
                                | voluptas rerum corporis cumque at minima a architecto, nulla excepturi consequatur unde
                                | ipsam laudantium rem quo obcaecati ex possimus in est! Harum, odio quis?
                    .faq__accordion--item
                        .accordion__content--title
                            h3.accordion__heading
                                | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            span &minus;
                        .faq__accordion--content.faq__close
                            p.accordion__content--text
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure velit magni libero, aut
                                | esse commodi voluptatibus. Nobis qui nulla hic velit. Impedit laboriosam natus ipsa ad
                                | voluptas rerum corporis cumque at minima a architecto, nulla excepturi consequatur unde
                                | ipsam laudantium rem quo obcaecati ex possimus in est! Harum, odio quis?

        section.section.testimonial__section.center
            h2.section__heading--secondary Testimonials
            .container__skew
                .testimonial__slide
                    .testimonial__slide--item
                        .testimonial__slide--item-text
                            p.testimonial__content
                                | Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                | Quibusdam eius ducimus dolore at illo nobis distinctio
                                | nostrum, id alias eaque!
                            p.testimonial__author Lorem.
                        .testimonial__slide--item-img
                            img.testimonial__image(src='asset/img/face.png' alt='')
                    .testimonial__slide--item
                        .testimonial__slide--item-text
                            p.testimonial__content
                                | Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                | Quibusdam eius ducimus dolore at illo nobis distinctio
                                | nostrum, id alias eaque!
                            p.testimonial__author Lorem.
                        .testimonial__slide--item-img
                            img.testimonial__image(src='asset/img/face.png' alt='')
                    .testimonial__slide--item
                        .testimonial__slide--item-text
                            p.testimonial__content
                                | Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                | Quibusdam eius ducimus dolore at illo nobis distinctio
                                | nostrum, id alias eaque!
                            p.testimonial__author Lorem.
                        .testimonial__slide--item-img
                            img.testimonial__image(src='asset/img/face.png' alt='')
                    .testimonial__slide--item
                        .testimonial__slide--item-text
                            p.testimonial__content
                                | Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                | Quibusdam eius ducimus dolore at illo nobis distinctio
                                | nostrum, id alias eaque!
                            p.testimonial__author Lorem.
                        .testimonial__slide--item-img
                            img.testimonial__image(src='asset/img/face.png' alt='')
                    .testimonial__slide--item
                        .testimonial__slide--item-text
                            p.testimonial__content
                                | Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                | Quibusdam eius ducimus dolore at illo nobis distinctio
                                | nostrum, id alias eaque!
                            p.testimonial__author Lorem.
                        .testimonial__slide--item-img
                            img.testimonial__image(src='asset/img/face.png' alt='')

                    .dots
                        span.dot.dot1 &nbsp;
                        span.dot.dot1 &nbsp;
                        span.dot.dot2.dot__active &nbsp;
                        span.dot.dot3 &nbsp;
                        span.dot.dot3 &nbsp;


        section.section.cta1__section
            .section__container
                .section__heading
                    h2.section__heading--secondary.capitalize
                        | Need affiliate to promote your products?
                    h3.cta__content--text Get Started As A Vendor
                    a.section__button.btn.cta__button(href='/vendor') Get started
        