extends base_account 

block content 
    <div class="table table-mu">
        <div class="table-title">
            <h4 class="table-heading">Manage All Users</h4>
        </div>
        <div class="table-head-mu">
            <span class="table-head-content">User</span>
            <span class="table-head-content">Email</span>
            <span class="table-head-content">row</span>
            <span class="table-head-content">nationality</span>
            <span class="table-head-content">status</span>
            <span class="table-head-content">actions</span>
        </div>

        <div class="table-row-mu">
            <span class="table-row-content table-row-product">
                <img class="table-user__image" src="../product.jpg" alt="" />
                <span>
                    <p class="table-user__name">Test user 1</p>
                    <p class="table-user__username">test123</p>
                </span>
            </span>
            <span class="table-row-content"><p class="email">test1234@exapmle.com</p></span>
            <span class="table-row-content"><p class="role">Affiliate</p></span>
            <span class="table-row-content"><p class="country"></p>Nigeria</span>
            <span class="table-row-content"><p class="status status--active">active</p></span>

            <span class="table-row-content table-row-btn">
                <button class="btn-edit table-btn">Edit</button>
                <button class="btn-delete table-btn">Delete</button>
            </span>
        </div>
        <div class="table-row-mu">
            <span class="table-row-content table-row-product">
                <img class="table-user__image" src="../product.jpg" alt="" />
                <span>
                    <p class="table-user__name">Test user 2</p>
                    <p class="table-user__niche">testuser23</p>
                </span>
            </span>
            <span class="table-row-content"><p class="email">test12edfdfrefrefrrf34@exapmle.com</p></span>
            <span class="table-row-content"><p class="role">Vendor</p></span>
            <span class="table-row-content"><p class="country">United state</p></span>
            <span class="table-row-content"><p class="status status--inactive">inactive</p></span>

            <span class="table-row-content table-row-btn">
                <button class="btn-edit table-btn">Edit</button>
                <button class="btn-delete table-btn">Delete</button>
            </span>
        </div>
    </div>