extends base_account 

block content 
    .table.table-mp
        .table-title
            h4.table-heading Manage Transactions
        .table-head-mp
            span.table-head-content Product
            span.table-head-content brand name
            span.table-head-content category
            span.table-head-content price
            span.table-head-content approved
            span.table-head-content actions
        .table-row-mp
            span.table-row-content.table-row-product
                img.table-product__image(src='../product.jpg' alt='')
                span
                    p.table-product__name Test product 1
                    p.table-product__niche health &amp; fitness
            span.table-row-content
                p.brand My drug kit
            span.table-row-content
                p.category Health
            span.table-row-content
                p.price $&nbsp;90
            span.table-row-content
                p.approved.status.status--success Approved
            span.table-row-content.table-row-btn
                //- button.btn-edit.table-btn Edit
                button.btn-delete.table-btn Delete
        
