extends base_account 

block content 
    h3.dashboard__heading Clubmerce marketplace
    
    h6.dashboard__subheading Top offers
    p.figures Total #{products.length}
    .products__container
        .products__cards--box
            each product in products
                .product__card
                    .product__side--left    
                        .side--top
                            .product__image--container
                                img.product__image(src='../../asset/img/affiliate.png' alt=product.name)
                            .product__heading 
                                h2.product__title= product.name
                                p.product__niche health and fitness
                                //- =product.niche
                                .product__content
                                    h4.product__description= product.summary
                        .side--bottom
                            ul.product__info
                                //- each icon in product.others
                                li.product__info--item 
                                    i.fa-solid.fa-truck-fast.product__icon.icon
                                    | Digital Product
                                li.product__info--item 
                                    i.fa-solid.fa-tools.product__icon.icon
                                    | Affiliate tools
                                li.product__info--item 
                                    i.fa-solid.fa-link.product__icon.icon
                                    | Unique Link
                                li.product__info--item 
                                    i.fa-regular.fa-square-check.product__icon.icon
                                    | Approved
                                li.product__info--item 
                                    i.fa-solid.fa-rotate.product__icon.icon
                                    | Recurring
                                

                    .product__side--right
                        span.product__commission
                            p.commision avg commission 
                            span.commission__amount NGN 7500
                        button.btn.product__button.promote Promote
                        a.product__button.page(href="/product") affiliate page

                    

        aside.product__filtering
            form.product__filter 
                select.select__input
                    option(value="most-promoted") Most promoted
                    option(value="gravity-high-low") Gravity : High-low
                    option(value="gravity-low-high") Gravity : Low-high
                    option(value="physical-product") Physical products
                    option(value="recurring-commission") Recurring commission
                    option(value="digital-product") Digital products
                    option(value="least-promoted") Less promoted
            
            .product__category
                p catergories
        
                    
    .hoplink__overlay.hidden
        .hoplink__modal.hidden
            i.fa-solid.fa-close.icon.hoplink__icon
            h2.dashboard__heading Generate HopLink
            p.hoplink__text Earn commission for every customer you refer to this product using your personalized affiliate hoplink.
            form.hoplink
            .hoplink__body
                input.hoplink__input(type='text' required='' placeholder='Username')
                p.hoplink__body--text Required
            .hoplink__body
                input.hoplink__input(type='text' placeholder='Tracing Id')
                p.hoplink__body--text Optional
            button.btn.hoplink__submit(type='submit') Generate Hoplink
