DOCTYPE
html(lang="en")

head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer")

    //- STYLES 
    link(rel="stylesheet" href="src/css/general.css")
    link(rel="stylesheet" href="src/css/dashboard.css")
    link(rel="stylesheet" href="src/css/order_and_payment.css")

    
body
    main
        .row.justify-content-center
            .col-lg-6.container3.text-white.p-5
                .container.pt-3
                    form(name='myForm', action='/paystack/pay', method='POST')
                        input#email(type='email', name='email', placeholder='Email', required)
                        hr
                        input#amount(type='number', name='amount', placeholder='Amount', required, min=100)
                        .bttn.pt-2
                            button(type='submit') ORDER
            

    script(src="src/js/payment.js")