DOCTYPE
html(lang="en")

head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer")

    //- STYLES 
    link(rel="stylesheet" href="src/css/general.css")
    link(rel="stylesheet" href="src/css/dashboard.css")
    link(rel="stylesheet" href="src/css/order_and_payment.css")

    
body
    <main>
        <form id="paymentForm" >
            h2 Payment
            <div class="form__item">
                <label class="form__label" for="bank-name">Bank Name</label>
                <input class="form__input" type="text" id="bank-name" required />
            </div>
            <div class="form__item">
                <label class="form__label" for="holder-name">Holder Name</label>
                <input class="form__input" type="text" id="holder-name" />
            </div>
            <div class="form__item">
                <label class="form__label" for="account-number">Account Number</label>
                <input class="form__input" type="text" id="account-number" required />
            </div>
            <div class="form__item">
                <label class="form__label" for="cvv">CVV</label>
                <input class="form__input" type="password" id="cvv" maxlength="3" placeholder='•••' />
            </div>
            //- <div class="form-grid">
            //- </div>
            <div class="form-submit">
                <button class="btn form-btn" type="submit"> Pay </button>
            </div>
        </form>
    </main>

    script(src="src/js/payment.js")