extends base_auth 

block content
    main
        .signup__form
            span.spinner
            .signup__container.grid
                .signup__form--image
                    img.form__image(src='../../asset/img/signup_new.jpg')
                form.signup(method="POST" action="/api/users/signup")
                    h3.form__heading
                        | Create an account with 
                        span.form__extra Clubmerce
                    .signup__grid.signup__name
                        .form__item
                            label.form__item--label(for='fullName') Fullname
                            input.form__item--input.signup__fullname(name='fullName' type='text' placeholder='Enter your Full Name' required='')
                        .form__item
                            label.form__item--label(for='username') Username
                            input.form__item--input.signup__username(name='username' type='text' placeholder='Choose a Username' required='')
                    .form__item
                        label.form__item--label(for='email') Email Address
                        input.form__item--input.signup__email(name='email' type='email' placeholder='max123@example.com' required='')
                    .signup__grid.signup__password
                        .form__item
                            label.form__item--label(for='password') Password
                            input.form__item--input.signup__password(name='password' type='password' placeholder='••••••••••••', required, minlength='8')
                        .form__item
                            label.form__item--label(for='passwordConfirm') Confirm Password
                            input.form__item--input.signup__passwordconfirm(name='passwordConfirm' type='password' placeholder='••••••••••••', required, minlength='8')
                    .signup__grid
                        .form__item.select
                            label.form__item--label(for='country') Country
                            select.form__item--input.select--input.signup__country(name='country' required='')
                                option(disable selected value="") Select your country
                                option Nigeria
                        .form__item
                            label.form__item--label(for='number') Phone Number
                            input.form__item--input.signup__phone(id="phone" name='number' type='tel' placeholder='+1 039 456 827' required='')
                        .form__item.select
                            label.form__item--label(for='role') Role
                            select.form__item--input.select--input.signup__role(name='role' required='')
                                option(disable selected value="") Choose a role 
                                option(value="affliate") Affiliate
                                option(value="vendor") Vendor
                    .form__check
                        input.agree(type='checkbox' required='')
                        p.form__help
                            | I Agree to the 
                            a.form__extra(href='/terms') terms and conditions
                            |  for membership.
                    .form__submit
                        button.form__button(type='submit') Submit and Signup
                        p.form__text
                            span &VerticalLine;
                            | &nbsp; Already have an account? 
                            a.form__extra(href='/login') Login here.
        .email__drop-down.drop-down__shadow.hidden
            // email verification modal
            .email-verify__modal.modal
                // close icon
                span.close__icon.verify__close--icon X
                .modal__container
                    h3.modal__heading
                        | Successful signup!
                    // icon
                    p.modal__content
                        | A link has been sent to&nbsp;
                        span.user__email emailaddress@example.com
                        br
                        | Please click the link in your email and verify your email...
            // email verification confirmed modal
            .email-confirmed__modal.modal.hidden
                // close icon
                span.close__icon.email-confirm__close--icon X
                .modal__container
                    h3.modal__heading Success!
                    // icon goes here
                    p.modal__text Your email address has been verified successfully!
                    a.form__button.proceed__button(href='#') Proceed to login
