extends base_account 

block content 
    h3.dashboard__heading My product dashboard
    section.vendor__dashboard
        .dashboard__container.vendor__flex
            .top__details
                .top__img-box
                    img.top__img(src='../asset/img/admin.png' alt='')
                .top__description
                    .top__cred 
                        span 
                            h3.top__name Britice Health Products
                            h3.top__niche health and fitness
                        span 
                            a.dashboard__button(href="#") Add product
                    .top__insights
                        .top__card.insight__one
                            i.fa-solid.fa-coins.icon
                            span.top__amount 2k
                            p.top__title Profits
                        .top__card.insight__two
                            i.fa-solid.fa-list-check.icon
                            span.top__amount 2k
                            p.top__title Products
                        .top__card.insight__three
                            i.fa-solid.fa-bullhorn.icon
                            span.top__amount 2k
                            p.top__title Affilliate Promoting
            .bottom__details
                .bottom__products
                    .bottom__card
                        i.fa-solid.fa-ellipsis-vertical.card-icon.dot
                        .card__image-box 
                            img.card__image(src='../asset/img/product.jpg' alt='')
                        .card__description
                            p.card__title Name of product
                            p.bottom-card__text summary of product, Lorem ipsum dolor Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, eveniet? sit amet consectetur adipisicing elit. Numquam, possimus!
                        //- ul.card__icons
                        //-     li.card__icon--item
                        //-         i.fa-solid.fa-truck-fast.card-icon
                        //-     li.card__icon--iten
                        //-         i.fa-solid.fa-tools.card-icon
                        //-     li.card__icon--item
                        //-         i.fa-solid.fa-link.card-icon
                        //-     li.card__icon--item
                        //-         i.fa-regular.fa-square-check.card-icon
                        //-     li.card__icon--item
                        //-         i.fa-solid.fa-rotate.card-icon
                    .bottom__card
                        i.fa-solid.fa-ellipsis-vertical.card-icon.dot
                        .card__image-box 
                            img.card__image(src='../asset/img/product.jpg' alt='')
                        .card__description
                            p.card__title Name of product
                            p.bottom-card__text summary of product, Lorem ipsum dolor Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, eveniet? sit amet consectetur adipisicing elit. Numquam, possimus!
                    //-    icons
                    .bottom__card
                        i.fa-solid.fa-ellipsis-vertical.card-icon.dot
                        .card__image-box 
                            img.card__image(src='../asset/img/product.jpg' alt='')
                        .card__description
                            p.card__title Name of product
                            p.bottom-card__text summary of product, Lorem ipsum dolor Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, eveniet? sit amet consectetur adipisicing elit. Numquam, possimus!
                    //-    icons
                    .bottom__card
                        i.fa-solid.fa-ellipsis-vertical.card-icon.dot
                        .card__image-box 
                            img.card__image(src='../asset/img/product.jpg' alt='')
                        .card__description
                            p.card__title Name of product
                            p.bottom-card__text summary of product, Lorem ipsum dolor Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, eveniet? sit amet consectetur adipisicing elit. Numquam, possimus!
                    //-    icons
