extends base_account 

block content 
    h3.dashboard__heading Transactions and Wallet

    <div class="dashboard__transaction">
        <div class="wallet__card">
            <h3 class="dashboard__heading">My wallet</h3>
            <p class="wallet__amount">NGN <span class="amount">30,000</span></p>
            <span class="wallet__info">Total Accessable Amount (limit: 20,000)</span>
        </div>


        <div class="withdrawal__card">
            <h3 class="dashboard__heading">Withdrawal</h3>
            <form class="withdraw__form">
                <div class="form__body-ungeneric">
                    <input type="radio" class="form__input-ungeneric" id="bank__details" />
                    <label for="bank__details" class="form__label-ungeneric">
                        <p class="bank__holder-name"> Idowu Damola Olatunji</p>
                        <p class="bank__name"> Acrom Bank</p>
                        <p class="bank__number"> 1234******</p>
                    </label>
                </div>
                <div class="form__grid-generic">
                    <div class="form__body-generic">
                        <label for="amount" class="form__label">Amount</label>
                        <input type="text" class="form__input" name="amount" id="amount" />
                    </div>
                    <div class="form__body-generic">
                        <label for="enter__password" class="form__label">Confirm your password</label>
                        <input type="password" class="form__input" name="enter__password" id="enter__password" />
                    </div>
                </div>
                <button type="submit" class="btn form__submit form__submit-generic">Withdraw</button>
            </form>
        </div>

    </div>


    .dashboard__table
        <div class="table">
            <div class="table-title">
                <h4 class="table-heading">Recent transaction</h4>
                <i class="fa-silid fa-vertical-dots table__icon"></i>
            </div>
            <div class="table-head-po">
                <span class="table-head-content">Trasaction id</span>
                <span class="table-head-content">Type</span>
                <span class="table-head-content">amount</span>
                <span class="table-head-content">Status</span>
                <span class="table-head-content">date</span>
            </div>


            <div class="table-row-po">
                <span class="table-row-content"><p class="price">dh373y82wu9wshd8w</p></span>
                <span class="table-row-content"><p class="price">WITHDRAWAL</p></span>
                <span class="table-row-content"><p class="price">NGN&nbsp;90,000</p></span>
                <span class="table-row-content"><p class="status status--pending">pending</p></span>
                <span class="table-row-content"><p class="date">12/02/23</p></span>
            </div>
            //- <div class="table-row-message">
            //-     p.note-no No recent transaction...
            //- </div>
        </div>