extends base_account 

block content 

    h3.dashboard__heading My product perfomance
    section.vendor__dashboard
        .dashboard__table
            <div class="table table-vpp">
                <div class="table-title">
                    <h4 class="table-heading">Products Perfomance</h4>
                </div>
                <div class="table-head-vpp">
                    <span class="table-head-content">Product</span>
                    <span class="table-head-content">purchases</span>
                    <span class="table-head-content">order</span>
                    <span class="table-head-content">profit</span>
                    <span class="table-head-content">Aff gravity</span>
                    <span class="table-head-content">Clicks</span>
                </div>

                <div class="table-row-vpp">
                    <span class="table-row-content table-row-product">
                        <img class="table-product__image" src="../product.jpg" alt="" />
                        <span>
                            <p class="table-product__name">Test product 1</p>
                            <p class="table-product__category">health & fitness</p>
                        </span>
                    </span>
                    <span class="table-row-content"><p class="purchase">12</p></span>
                    <span class="table-row-content"><p class="order">27</p></span>
                    <span class="table-row-content"><p class="profit">$&nbsp;460</p></span>
                    <span class="table-row-content"><p class="aff-gravity">20</p></span>
                    <span class="table-row-content"><p class="click">230</p></span>
                    
                </div>
                
            </div>